body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 30px;
}
.blue-color{
    color:royalblue;
}
section{
    display: flex;
}
p{
    color: gray;
}
h2{
    color: gray;
}
.half-width{
    width: 50%;
    padding-left: 2%;
    padding-top: 2%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(Aqua, royalblue);
    color: white;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 20px;
}
.contact-me{
    background-image:url(assets/Frame\ 57.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 300px;
}    
.add-button{
    text-decoration: none;
    background-image: linear-gradient(royalblue, aqua);
    color: white;
    font-weight: 500;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius:20px ;
}
.recipes{
   text-align: center;
}

.one-third{
    width: 33.33%;
    height: 500px;
    margin: 3% 3% 3% 3%;
  padding: 2% 2% 2% 2%;
 box-shadow:10px 10px 10px gray;
}
.one-third img{
    width: 80%;
    padding: 2%;
}
footer{
    text-align: center;
    padding: 3px;
    background-color: black;
    color:gray
   
}